.Rproj.user
.Rhistory
.RData

*.pper

.Rproj.user/AF86C25B/pcs/files-pane.pper

.Rproj.user/AF86C25B/pcs/source-pane.pper

.Rproj.user/AF86C25B/pcs/windowlayoutstate.pper

.Rproj.user/AF86C25B/persistent-state

.Rproj.user/AF86C25B/sdb/prop/INDEX

.Rproj.user/AF86C25B/pcs/source-pane.pper

.Rproj.user/AF86C25B/pcs/workbench-pane.pper

.Rproj.user/AF86C25B/sdb/prop/INDEX
