# imports functions
importFrom(mvtnorm,rmvnorm)
importFrom(bipartite,visweb)
import(boot)

# functions
export(aic.dof                   )
export(AICpls                    ) 
export(bic.dof                   )
export(bootpls                   )
export(bootplsglm                )
export(boxplots.bootpls          )
export(confints.bootpls          )
export(coefs.plsR                ) 
export(coefs.plsRglm             ) 
export(coefs.plsRglmnp           ) 
export(coefs.plsRnp              ) 
export(dicho                     ) 
export(gmdl.dof                  )
export(kfolds2Chisq              ) 
export(kfolds2Chisqind           ) 
export(kfolds2coeff              ) 
export(kfolds2CVinfos_glm        ) 
export(kfolds2CVinfos_lm         ) 
export(kfolds2Mclassed           ) 
export(kfolds2Mclassedind        ) 
export(kfolds2Press              ) 
export(kfolds2Pressind           ) 
export(infcrit.dof               )
export(loglikpls                 ) 
export(permcoefs.plsR            ) 
export(permcoefs.plsRglm         ) 
export(permcoefs.plsRglmnp       ) 
export(permcoefs.plsRnp          ) 
export(plots.confints.bootpls    )
export(PLS_glm                   ) 
export(PLS_glm_formula           ) 
export(PLS_glm_kfoldcv           ) 
export(PLS_glm_kfoldcv_formula   ) 
export(PLS_glm_wvc               ) 
export(PLS_lm                    ) 
export(PLS_lm_formula            ) 
export(PLS_lm_kfoldcv            ) 
export(PLS_lm_kfoldcv_formula    ) 
export(PLS_lm_wvc                ) 
export(plsR                      ) 
export(plsR.dof                  )
export(plsRglm                   ) 
export(plsRglmmodel.default      ) 
export(plsRglmmodel.formula      ) 
export(plsRmodel.default         ) 
export(plsRmodel.formula         ) 
export(print.plsRglmmodel        ) 
export(print.plsRmodel           ) 
export(print.summary.plsRglmmodel) 
export(print.summary.plsRmodel   ) 
export(signpred                  ) 
export(simul_data_complete       ) 
export(simul_data_YX             ) 
export(simul_data_UniYX          ) 
export(simul_data_UniYX_binom    ) 
export(summary.plsRglmmodel      ) 
export(summary.plsRmodel         )
export(tilt.bootpls              )
export(tilt.bootplsglm           )
 


## S3 methods for generics in base
S3method("print", "plsRmodel")
S3method("print", "plsRglmmodel")
S3method("summary", "plsRmodel")
S3method("summary", "plsRglmmodel")
S3method("print", "summary.plsRmodel")
S3method("print", "summary.plsRglmmodel")

